#index {
    background-color: #FBAB34;
}

#quiz {
    background-color: #EB8947;
}

.container {
    width:450px;
    max-height: 570px;
    border: 1px solid black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#index-container {
    height: 450px;
}

form {
    text-align: center;
    padding:20px;
    text-align:center;
    font-size:18px;
    max-width: 100%;
    margin: auto;
}

label {
    float:left;
    margin-left:40px;
    font-size:15px;
}

.qLabel {
    font-size: 18px; 
    float:none; 
    display:block; 
    margin-left:0;
    margin-bottom:12px;
    margin-top:12px;
    font-weight:bold;
}

input[type=text], input[type=email] {
    font-size:15px;
    border-radius: 3px;
    margin: 8px 10px;
    border: none;
    width:300px;
    padding: 13px 15px;
    display: inline-block;
}

input {
    margin-bottom:14px;
}

input[type=submit] {
    font-size:17px;
    border: none;
    border-radius: 3px;
    width:39%;
    padding: 13px 4px;
    margin: 15px 5px 12px;
    cursor: pointer;
}